.DetailView {
  min-height: 100vh;
}

.Chart {
  height: auto;
  width: 70%;
  margin: 20px 20% 0 10%;
  padding: 0 10% 5% 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px #aaa;
}
