.MainView {
  margin: 0 auto;
  padding: 0;
}

.SearchView {
  border: 2px solid gray;
  border-style: none solid none none;
  min-height: 100vh;
}

.Form {
  margin: 20px 0 20px 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.SearchButton {
  position: absolute;
  margin-top: 20px;
}

.Card {
  height: 150px;
  width: 70%;
  margin: 20px 20% 0 10%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px #aaa;
}

.CardMainContainer {
  margin: 0 auto;
  width: 100%;
  height: 60%;
}

.CardMainCell {
  height: 100%;
  border: 1px solid #ccc;
  border-style: none solid solid none;
  text-align: center;
}

.CardMainCellText {
  font-size: 2em;
  margin-top: 15%;
}

.Left {
  border-style: none solid solid none;
}

.Mid {
  border-style: none none solid none;
}

.Right {
  border-style: none none solid solid;
  position: relative;
}

.DeleteCardButton {
  position: absolute;
  border: none;
  background-color: white;
  right: 1px;
  top: 1px;
  cursor: pointer;
  color: gray;
}

.CardNameCell {
  height: 20%;
  width: 100%;
  text-align: center;
}

.CardButton {
  width: 100%;
  height: 20%;
  background-color: #ccc;
  cursor: pointer;
  border: none;
}

.SaveButton {
  border: 1px solid black;
  border-style: none solid none none;
  width: 50%;
  height: 100%;
  background-color: #ccc;
  cursor: pointer;
}

.DoubleButton {
  height: 20%;
}

.HalfCardButton {
  width: 50%;
  height: 100%;
  background-color: #ccc;
  cursor: pointer;
  border: none;
}

.DetailView {
  min-height: 100vh;
}

.Chart {
  height: auto;
  width: 70%;
  margin: 20px 20% 0 10%;
  padding: 0 10% 5% 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px #aaa;
}

.Input {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 20px 0 20px 0;
}